doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    title
      != (title ? `${title} – ` : '') + 'attentif*'
    meta(name='description', content='Design et développement pour un monde plus beau, à Genève, Suisse, Hong Kong')
    meta(name='author', content='Simon Goumaz')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/media/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='/scripts/vendor/jquery-1.11.2.min.js')
    script(src='/scripts/vendor/modernizr-2.8.3.min.js')

  body
    #main-container.fade
      header#header
        img.logo(src='/media/logo-at.svg', alt='at*')
      main#main
        if helpers.isHome(path)
          section.notice
            h1 Last published
            ul.articles-list
              for a in lastArticles
                li
                  // chop extension off as we use permalinks
                  a(href=`/${helpers.trimFileExtensions(a.path)}`)
                    h2
                      != a.title
                  time(datetime=a.date)
                    != helpers.formatDate(a.date)
                  p
                    != a.description
            unless articles.length <= lastArticlesCount
              nav.more
                a(href='/a', title='All published stuff')
                  = '→ '
                  span.text See all
        else
          // not home: add minimal nav
          nav#top-nav
            // add 'home' link
            a.home(href='/', title='Back home') |←
            - let splitPath = path.split('/')
            if splitPath.length > 1
              // add 'parent' link
              a(href=`/${splitPath.slice(0, -1).join('/')}`, title='Back to published stuff') ←
        if title
          header.page-header
            h1
              != title
            if date
              time(datetime=date)
                = helpers.formatDate(date)
        section(class=`${inline ? 'inline' : ''}`)
          != contents
      footer#footer
        ul.coordinates
          li.workshop-name
            a(href="/", title='Home') attentif*
          li.name Simon Goumaz
          //li.address
          //  a.external(href=address.mapURL, title="Open map")!= address.htmlText
          li.phone
            a(href="tel:+41793857120") +41&nbsp;79&nbsp;385&nbsp;71&nbsp;20
          li.email
            a(href="mailto:simon@attentif.ch") simon@attentif.ch
          li
            a.external(href=linkURLs.gitHub) GitHub
          li
            a.external(href=linkURLs.linkedIn) LinkedIn

    #video-container
      video#video.fade(muted autoplay loop)
        source(src='/media/branches.mp4', type='video/mp4')
        source(src='/media/branches.ogv', type='video/ogg')
      img#video-fallback(src='/media/branches.jpg', alt='branches dans la brise')

    script(src='/scripts/index.js')
    script.
      if (window.location.hostname.indexOf('attentif.ch') !== -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-29888210-1', 'auto');
        ga('set', 'forceSSL', true);
        // use minimal tracking not requiring user consent
        ga('set', 'displayFeaturesTask', null);
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
      }
