doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    title
      != (title ? `${title} – ` : '') + 'attentif*'
    meta(name='description', content='Design et développement pour un monde plus beau, à Genève, Suisse, Hong Kong')
    meta(name='author', content='Simon Goumaz')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/media/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='/scripts/vendor/jquery-1.11.2.min.js')
    script(src='/scripts/vendor/modernizr-2.8.3.min.js')

  body
    #main-container.fade
      header#header
        img.logo(src='/media/logo-at.svg', alt='at*')
      main#main
        if helpers.isHome(path)
          section.notice
            h1 Last published
            ul.articles-list
              for a in lastArticles
                li
                  // chop extension off as we use permalinks
                  a(href=`/${helpers.trimFileExtensions(a.path)}`)
                    h2
                      != a.title
                  time(datetime=a.date)
                    != helpers.formatDate(a.date)
                  p
                    != a.description
            unless articles.length < lastArticlesCount
              nav.more
                a(href='/a', title='All published stuff')
                  = '→ '
                  span.text See all
        else
          // not home: add minimal nav
          nav#top-nav
            // add 'home' link
            a.home(href='/', title='Back home') |←
            - let splitPath = path.split('/')
            if splitPath.length > 1
              // add 'parent' link
              a(href=`/${splitPath.slice(0, -1).join('/')}`, title='Back to published stuff') ←
        if title
          header.page-header
            h1
              != title
            if date
              time(datetime=date)
                = helpers.formatDate(date)
        section(class=`${inline ? 'inline' : ''}`)
          != contents
      footer#footer
        ul.coordinates
          li.workshop-name
            a(href="/", title='Home') attentif*
          li.name Simon Goumaz
          //li.address
          //  a.external(href=address.mapURL, title="Open map")!= address.htmlText
          li.phone
            a(href="tel:+85298267290") +852&nbsp;9826&nbsp;7290
          li.email
            a(href="mailto:simon@attentif.ch") simon@attentif.ch
          li
            a.external(href=linkURLs.gitHub) GitHub
          li
            a.external(href=linkURLs.linkedIn) LinkedIn

    #video-container
      video#video.fade(muted autoplay loop)
        source(src='/media/branches.mp4', type='video/mp4')
        source(src='/media/branches.ogv', type='video/ogg')
      img#video-fallback(src='/media/branches.jpg', alt='branches dans la brise')

    script(src='/scripts/index.js')
    script.
      var _gaq=[["_setAccount","UA-29888210-1"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
