doctype html
html.no-js(lang='fr')
  head
    meta(charset='UTF-8')
    title attentif : atelier
    meta(name='description', content='Atelier de design et développement logiciel à lucrativité limitée, basé à Genève, Suisse')
    meta(name='author', content='Simon Goumaz')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/media/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/scripts/vendor/jquery.powertip.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
    script(src='/scripts/vendor/modernizr.min.js')
    script(src='/scripts/vendor/jquery.powertip.min.js')
    script(src='/scripts/vendor/spin.min.js')

  body
    #main-container.fade
      header#header
        .title.
          a* at* att* | attentif : atelier*
      #main
        //- header#pageHeader
          img#logo(src='/media/logo-400.png', alt='attentif')

        .debug
          .question
            p.
              Does being asked personal questions online make you wary?
            p
              button Yes
              button No
          .question
            p.
              <em>«You can only improve what you can measure.»</em>
            p
              button I agree
              button I disagree
          .question
            p.
              Do you make a difference between<br> <span class="keyword">work</span> and <span class="keyword">play</span>?
            p
              button Yes
              button No
          p.text.
            <strong>Software.</strong> I craft client, server and peer-to-peer apps and tools. Beautiful code in service to joy and truth.<br><br>

            <strong>User experience.</strong> Interaction design, user research, information architecture, content strategy.<br><br>

            <strong>Coaching & consulting.</strong> I have over 10 years of experience with sustainable development.<br><br>

            <strong>Anything true and beautiful*.</strong><br><br>

            * Maybe I shouldn't make such a bold claim. Maybe I'd better stick to my tried and tested areas of expertise, where I can be reliably good. <em>"Do one thing and do it well."</em><br>
            But maybe I can bring joy and truth in other areas too, and serve my purpose better by doing completely different things that I don't even know about today. This is an invitation.

        //- #sections
          each section in sections
            img.dash(src='/media/dash.png', alt='-')
            section(id='#{section.sectionId}')
              h1
                a.tip(href='#', data-powertiptarget='#{section.sectionId}-content')= section.title
              .tip-content(id='#{section.sectionId}-content')!= section.contents
          .dashes
            img.dash(src='/media/dash.png', alt='-')
            img.dash(src='/media/dash.png', alt='-')
            img.dash(src='/media/dash.png', alt='-')


    #video-container
      video#video.fade(autoplay loop)
        source(src='/media/branches.mp4', type='video/mp4')
        source(src='/media/branches.ogv', type='video/ogg')
      img#video-fallback(src='/media/branches.jpg', alt='branches dans la brise')

    script(src='/scripts/index.js')
    script.
      var _gaq=[["_setAccount","UA-29888210-1"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
