doctype html
html.no-js(lang='fr')
  head
    meta(charset='UTF-8')
    title attentif : atelier
    meta(name='description', content='Atelier de design et développement logiciel à lucrativité limitée, basé à Genève, Suisse')
    meta(name='author', content='Simon Goumaz')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/media/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
    script(src='/scripts/vendor/modernizr.min.js')

  body
    #main-container.fade
      header#header
        .title.
          at*
      main#main
        each section in sections
          section(id='#{section.id}')
            if section.title
              h1!= section.title
            != section.contents
      footer#footer
        ul.coordinates
          li.practice-name attentif : atelier*
          li.name Simon Goumaz
          li.address
            | arcade des Pépins de la Pastèque<br>
            | rue des Voisins 20, 1205 Geneva
          li.phone +41 (0)79 385 71 20
          li.email
            a(href="mailto:simon@attentif.ch") simon@attentif.ch

    #video-container
      video#video.fade(autoplay loop)
        source(src='/media/branches.mp4', type='video/mp4')
        source(src='/media/branches.ogv', type='video/ogg')
      img#video-fallback(src='/media/branches.jpg', alt='branches dans la brise')

    script(src='/scripts/index.js')
    script.
      var _gaq=[["_setAccount","UA-29888210-1"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
